*,
body {
    background-color: white;
}

img {
    width: 100%;
    background-color: blanchedalmond;
}

.images {
    width: 95%;
    display: grid;
    gap: 0 40px;
    grid-template-columns: auto auto auto;
}

.found {
    border: 20px solid green;
}

.not-found {
    border: 20px solid red;
}
